@model IEnumerable<ASP_Exam.Models.Livres>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Auteur.A_Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.L_Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.L_Edition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_LGenre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Auteur.A_Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.L_Titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.L_Edition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_LGenre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Livres }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Livres }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Livres })
        </td>
    </tr>
}

</table>
