@model IEnumerable<ASP_Exam.Models.Livres>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Ajouter", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Auteur
        </th>
        <th>
            Serie
        </th>
        <th>
            Titre
        </th>
        <th>
            Edition
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Auteur.A_Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Serie.S_Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.L_Titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.L_Edition)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id = item.ID_Livres }) |
            @Html.ActionLink("Afficher les détails", "Details", new { id = item.ID_Livres }) |
            @Html.ActionLink("Supprimer", "Delete", new { id = item.ID_Livres })
        </td>
    </tr>
}

</table>
