@model ASP_Exam.Models.Auteurs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Auteurs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.A_Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A_Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.A_Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A_Prenom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Auteur }) |
    @Html.ActionLink("Back to List", "Index")
</p>
