@model IEnumerable<ASP_Exam.Models.Auteurs>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.A_Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.A_Prenom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.A_Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.A_Prenom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Auteur }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Auteur }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Auteur })
        </td>
    </tr>
}

</table>
