@model ASP_Exam.Models.Series

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Series</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Titre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_Nom)
        </dd>

        <dt>
            Nombres de tomes
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_Taille)
        </dd>

        <dt>
            Tous possédés
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_Fini)
        </dd>

        <dt>
            Parution terminée
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_Complet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.ID_Serie }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
