@model IEnumerable<ASP_Exam.Models.Series>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Ajouter", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Titre
        </th>
        <th>
            Nombre de tomes
        </th>
        <th>
            Tous possédés
        </th>
        <th>
            Parution terminée
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.S_Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S_Taille)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S_Fini)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S_Complet)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.ID_Serie }) |
            @Html.ActionLink("Détails", "Details", new { id=item.ID_Serie }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.ID_Serie })
        </td>
    </tr>
}

</table>
