@model IEnumerable<ASP_Exam.Models.Genres>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Ajouter", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Genres
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.G_Nom)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.ID_Genres }) |
          <!--  @Html.ActionLink("Détails", "Details", new { id=item.ID_Genres }) |-->
            @Html.ActionLink("Supprimer", "Delete", new { id=item.ID_Genres })
        </td>
    </tr>
}

</table>
